<div class="fixed bottom-28 right-20 rounded-xl bg-blue-500 p-3 text-white " [ngClass]="{ 'opacity-0 h-0': !openned, 'opacity-100 h-[35rem] w-80': openned }">
    <div class="flex flex-col gap-4 w-full h-full">
        <div class="flex flex-col">
            <span class="text-2xl font-semibold">Carrinho</span>
            <span class="text-sm font-bold text-gray-300">{{ cartItems.length }} itens</span>
        </div>
        <div class="flex flex-col gap-2 h-[65rem] overflow-y-auto overscroll-none">
            <div *ngFor="let item of cartItems" class="flex gap-2 w-full bg-blue-400 p-2 rounded-md group">
                <div class="w-10 h-10 bg-gray-200 rounded-md overflow-hidden shadow-md"><img class="h-full w-full" src="assets/images/pic_1.jpg" alt=""></div>
                <div class="flex flex-col text-sm overflow-hidden">
                    <span class="truncate max-w-[7rem]">{{ item.nome }}</span>
                    <span class="text-xs">{{ item.preco | currency:'BRL' }}</span>
                </div>
                <div class="flex items-center ml-auto shadow-md ">
                    <button (click)="changeItemQuantity(false, item.id)" class="w-5 h-full bg-gray-200 rounded-l-md text-blue-500 font-bold "><span class="-mt-5">-</span></button>
                    <span class="flex items-center bg-blue-200 h-full text-black px-3">{{ item.quantidade }}</span>
                    <button (click)="changeItemQuantity(true, item.id)" class="w-5 h-full bg-gray-200 rounded-r-md text-blue-500 font-bold l">+</button>
                </div>
            </div>
        </div>
        <div *ngIf="cartItems.length != 0" class="flex flex-col gap-4 justify-end items-end h-full">
            <span class="flex justify-between w-full font-bold text-xl"><span class="text-base">Total</span> {{ totalCart | currency: 'BRL' }}</span>
            <div class="flex flex-col gap-1 w-full font-semibold">
                <button (click)="redirectCheckout()" class="bg-white hover:bg-opacity-90 shadow-md text-blue-500 py-2 rounded-md transition-all">Prosseguir à compra</button>
                <button class="hover:bg-blue-300/50 py-2 rounded-md transition-all">Continuar Comprando</button>
            </div>
        </div>
    </div>
</div>
<div class="fixed bottom-12 right-52 w-fit flex items-end">
    <div class="relative flex justify-center">
        <button (click)="toggleOpenned()" class="relative group h-fit w-fit rounded-full p-4 transition-all bg-blue-500 hover:bg-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="absolute w-6 h-6 transition-all text-white group-hover:text-gray-950" [ngClass]="{ 'opacity-0': openned, 'opacity-100': !openned }">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
            </svg>
            <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="relative h-6 w-6 text-white transition-all group-hover:text-gray-950" [ngClass]="{ 'opacity-0 -rotate-90': !openned, 'opacity-100 rotate-90': openned }">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
        <div *ngIf="cartItems.length != 0" class="flex items-center justify-center absolute h-4 w-4 top-0 right-0 dark:bg-white bg-blue-200 text-blue-600 rounded-full shadow-lg text-xs font-bold animate-bounce-short"
        [ngClass]="{ 'animate-bounce-short': !openned }">
            <span class="mb-0.5">{{ cartItems.length }}</span>
        </div>
    </div>
</div>
