<div class="flex">
    <app-nav-drawer></app-nav-drawer>
    
    <div class="flex flex-col w-full">
        <app-navbar></app-navbar>
        <div class="relative flex flex-col gap-2 items-center mx-auto w-full max-w-6xl h-screen p-4">
            <div
                class="flex flex-col gap-6 align-middle items-center justify-center w-full bg-gradient-to-tl from-cyan-200 to-blue-500 bg-opacity-50 max-w-6xl h-72 rounded-lg ">
                <span class="font-medium text-3xl sm:text-5xl">Explore nossos Produtos</span>
                <button
                    class="w-fit transition-all px-4 h-12 bg-blue-500 pb-1 hover:opacity-80 rounded-full text-white font-semibold">Descubra
                    mais</button>
            </div>
            <div class="flex flex-col sm:flex-row gap-2 w-full">
                <div
                    class="flex flex-col gap-6 align-middle items-center justify-center w-full bg-gradient-to-tl from-green-500 to-emerald-200 bg-opacity-50 h-72 rounded-lg ">
                    <span class="font-medium text-3xl">Seja um vendedor</span>
                    <button
                        class="w-fit transition-all min-w-[35%] px-4 h-12 bg-green-600 pb-1 hover:opacity-80 rounded-full text-white font-semibold">Afilie-se</button>
                </div>
                <div
                    class="flex flex-col gap-6 align-middle items-center justify-center w-full bg-gradient-to-tl from-sky-300 to-indigo-600 bg-opacity-50 h-72 rounded-lg ">
                    <span class="font-medium text-3xl">Seja um comprador</span>
                    <button
                        class="w-fit transition-all min-w-[35%] px-4 h-12 bg-indigo-600 pb-1 hover:opacity-80 rounded-full text-white font-semibold">Cadastrar-se</button>
                </div>
            </div>
        </div>
    </div>

</div>