<div class="flex flex-col gap-8 mb-24 py-8 px-4 mx-auto dark:bg-slate-800 max-w-6xl h-screen text-gray-900 dark:text-gray-100">
    <div class="flex justify-between p-3">
        <div class="flex flex-col gap-3">
            <button (click)="redirect()" class="transition-all items-center w-fit -ml-2 flex gap-2 text-blue-500 dark:text-blue-400 bg-blue-500/20 py-1.5 px-5 rounded-full hover:bg-blue-500/30 dark:hover:text-blue-200 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                </svg>
                Voltar à listagem
            </button>
            <span *ngIf="!data" class=" font-bold text-3xl">Novo Produto</span>
            <span *ngIf="data" class=" font-bold text-3xl">{{ data.nome }} <span class="text-gray-400">#{{ id }}</span></span>
        </div>
    </div>

    <div class="flex flex-col w-full">
        <div class="relative flex flex-col gap-20 items-center mx-auto w-full ">
            <div class="flex flex-col gap-8 w-full bg-blue-100/50  dark:bg-slate-700 bg-opacity-60 max-w-none 2xl:max-w-6xl max-h-none lg:max-h-fit rounded-3xl px-8 py-4">
                <!-- form header session -->
                <div class="flex flex-col">
                    <span class="font-bold text-xl ">Informações</span>
                    <span class="text-gray-500 dark:text-gray-400 font-bold text-sm">Especifique informações sobre o seu produto</span>
                </div>
                <!-- session end -->
                <!-- form session -->
                <form class="flex flex-col gap-6" [formGroup]="mainForm">
                    <!-- row -->
                    <div class="flex flex-col xl:flex-row gap-4 ">
                        <div class="flex flex-col gap-1 w-full">
                            <label for="nome">Nome <span [ngClass]="{'text-red-500': f.nome.errors && f.nome.touched}">*</span></label>
                            <input id="nome" type="text" [ngClass]="{'ring-2 ring-red-500 focus:ring-red-500': f.nome.errors && f.nome.touched}" class="form-input" [formControlName]="'nome'">
                            <div class="flex flex-col gap-1 text-xs font-medium">
                                <mat-error *ngIf="f.nome.hasError('required') && f.nome.touched">
                                    O nome é obrigatório
                                </mat-error>
                                <mat-error *ngIf="f.nome.hasError('minlength') && f.nome.touched">
                                    O nome precisa ter no mínimo {{ f.nome.errors?.minlength.requiredLength }}
                                </mat-error>
                                <mat-error *ngIf="f.nome.hasError('maxlength') && f.nome.touched">
                                    O nome tem limite máximo de {{ f.nome.errors?.maxlength.requiredLength }} caracteres
                                    <span class="block">Você digitou {{ f.nome.errors?.maxlength.actualLength }} caracteres</span>
                                </mat-error>
                            </div>
                        </div>
                        <div class="flex flex-col gap-1">
                            <label for="name">Estoque inicial <span [ngClass]="{'text-red-500': f.estoque.errors && f.estoque.touched}">*</span></label>
                            <input id="estoque" type="number" class="form-input" [ngClass]="{'ring-2 ring-red-500 focus:ring-red-500': f.estoque.errors && f.estoque.touched}" [formControlName]="'estoque'">
                            <div class="flex flex-col gap-1 text-xs font-medium">
                                <mat-error *ngIf="f.estoque.hasError('required') && f.estoque.touched">
                                    O estoque é obrigatório
                                </mat-error>
                                <mat-error *ngIf="f.estoque.hasError('minlength') && f.estoque.touched">
                                    O estoque precisa ter no mínimo {{ f.estoque.errors?.minlength.requiredLength }}
                                </mat-error>
                                <mat-error *ngIf="f.estoque.hasError('maxlength') && f.estoque.touched">
                                    O estoque tem limite máximo de {{ f.estoque.errors?.maxlength.requiredLength }} caracteres
                                    <span class="block">Você digitou {{ f.estoque.errors?.maxlength.actualLength }} caracteres</span>
                                </mat-error>
                            </div>
                        </div>
                        <div class="flex flex-col gap-1">
                            <label for="preco">Preço <span [ngClass]="{'text-red-500': f.preco.errors && f.preco.touched}">*</span></label>
                            <input type="number" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" id="preco" type="text" class="form-input" [ngClass]="{'ring-2 ring-red-500 focus:ring-red-500': f.preco.errors && f.preco.touched}" [formControlName]="'preco'"  >
                            <div class="flex flex-col gap-1 text-xs font-medium">
                                <mat-error *ngIf="f.preco.hasError('required') && f.preco.touched">
                                    O preço é obrigatório
                                </mat-error>
                                <mat-error *ngIf="f.preco.hasError('minlength') && f.preco.touched">
                                    O preço precisa ter no mínimo {{ f.preco.errors?.minlength.requiredLength }}
                                </mat-error>
                                <mat-error *ngIf="f.preco.hasError('maxlength') && f.preco.touched">
                                    O preço tem limite máximo de {{ f.preco.errors?.maxlength.requiredLength }} caracteres
                                    <span class="block">Você digitou {{ f.preco.errors?.maxlength.actualLength }} caracteres</span>
                                </mat-error>
                            </div>
                        </div>
                        <div class="flex flex-col gap-1">
                            <label for="categoria" >Categoria <span [ngClass]="{'text-red-500': f.categoria.errors && f.categoria.touched}">*</span></label>
                            <input id="categoria" type="text" class="form-input" [ngClass]="{'ring-2 ring-red-500 focus:ring-red-500': f.categoria.errors && f.categoria.touched}" [formControlName]="'categoria'">
                            <div class="flex flex-col gap-1 text-xs font-medium">
                                <mat-error *ngIf="f.categoria.hasError('required') && f.categoria.touched">
                                    A categoria é obrigatória
                                </mat-error>
                                <mat-error *ngIf="f.categoria.hasError('minlength') && f.categoria.touched">
                                    A categoria precisa ter no mínimo {{ f.categoria.errors?.minlength.requiredLength }}
                                </mat-error>
                                <mat-error *ngIf="f.categoria.hasError('maxlength') && f.categoria.touched">
                                    A categoria limite máximo de {{ f.categoria.errors?.maxlength.requiredLength }} caracteres
                                    <span class="block">Você digitou {{ f.categoria.errors?.maxlength.actualLength }} caracteres</span>
                                </mat-error>
                            </div>
                        </div>
                    </div>
                    <!-- end -->

                    <!-- row -->
                    <div class="flex flex-col lg:flex-row">
                        <div class="flex flex-col gap-1 w-full">
                            <label for="" >Descrição</label>
                            <textarea type="text" class="form-input" [formControlName]="'descricao'"></textarea>

                        </div>
                    </div>
                    <!-- row -->
                    <div class="flex flex-col lg:flex-row mb-8">
                        <div class="flex flex-col gap-1 w-full">
                            <label for="" >Imagens</label>
                            <div class="flex justify-center align-middle items-center bg-white shadow-sm dark:shadow-none dark:bg-slate-500 w-24 h-24 rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                </svg>
                            </div>

                        </div>
                    </div>
                    <!-- end -->

                    <!-- row -->
                    <div class="flex flex-col lg:flex-row">
                        <div *ngIf="id" class="w-full text-lg font-medium">
                            <button class="sm:inline py-1.5 transition-opacity px-4 w-full text-red-500 dark:text-white sm:max-w-[8rem] hover:opacity-80 rounded-full dark:bg-red-500 bg-red-200 disabled:opacity-60" type="button" (click)="delete()" [disabled]="deleting">
                                <span *ngIf="!deleting">Deletar</span>
                                <div *ngIf="deleting" class="relative flex items-center align-middle justify-center sm:text-sm">
                                    <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-2 text-blue-500 dark:text-white animate-spin stroke-2" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                                    </svg> Deletando...
                                </div>
                            </button>
                        </div>

                        <div class="flex flex-col sm:flex-row justify-end gap-6 w-full text-lg font-medium">
                            <button (click)="redirect()" type="button" class="hidden sm:inline transition-colors hover:bg-blue-200 w-full sm:max-w-[8rem] hover:dark:bg-slate-800 py-1.5 px-4 rounded-full">Cancelar</button>
                            <button class="sm:inline py-1.5 transition-opacity px-4 w-full sm:max-w-[8rem] text-blue-600 dark:text-white hover:opacity-80 rounded-full dark:bg-blue-500 bg-blue-200 disabled:opacity-60" type="submit" (click)="onFormSubmit()" [disabled]="submitted">
                                <span *ngIf="!submitted">Salvar</span>
                                <div *ngIf="submitted" class="relative flex items-center align-middle justify-center sm:text-sm">
                                    <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-2 text-blue-500 dark:text-white animate-spin stroke-2" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                                    </svg> Salvando...
                                </div>
                            </button>
                            <button (click)="redirect()" type="button" class="sm:hidden hover:bg-blue-200 w-full sm:max-w-[8rem] hover:dark:bg-slate-800 py-1.5 px-4 rounded-full">Cancelar</button>
                        </div>

                    </div>
                    <!-- end -->
                </form>
                <!-- form session end -->
            </div>
        </div>
    </div>
</div>

<!-- 
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
    <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z" clip-rule="evenodd" />
    </svg>
-->