<div class="overflow-y-scroll sm:overscroll-none flex dark:bg-slate-800">
    <div class="flex flex-col w-full">
        
        <div class="relative flex flex-col gap-8 items-center mx-auto w-full max-w-6xl h-screen p-4">
            <button (click)="redirect()" class="go-back-button self-start mt-12">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                </svg>
                Voltar à listagem
            </button>

            <!-- card principal -->
            <div class="flex flex-col lg:flex-row p-3 gap-6 align-middle w-full bg-blue-100/50 dark:bg-slate-700 bg-opacity-60 lg:max-w-6xl rounded-3xl ">
                <div class="flex flex-col h-full gap-2 w-full lg:w-1/2 ">
                    <div class="flex gap-2 h-4/5">
                        <div class="bg-slate-900 w-full overflow-hidden rounded-3xl  object-cover">
                            <img class="h-full w-full" src="assets/images/pic_1.jpg" alt="">
                        </div>
                        
                    </div>
                    <div class="flex gap-2 h-1/5 [&>*]:transition-opacity [&>*]:opacity-40 hover:[&>*]:opacity-100 [&>*]:cursor-pointer [&>*]:overflow-hidden">
                        <div class="bg-slate-900 w-full rounded-xl sm:rounded-2xl lg:sm:rounded-3xl !opacity-100">
                            <img class="h-full w-full" src="assets/images/pic_1.jpg" alt="">
                        </div>
                        <div class="bg-slate-900 w-full rounded-xl sm:rounded-2xl lg:sm:rounded-3xl">
                            <img class="h-full w-full" src="assets/images/pic_2.jpg" alt="">

                        </div>
                        <div class="bg-slate-900 w-full rounded-xl sm:rounded-2xl lg:sm:rounded-3xl">
                            <img class="h-full w-full" src="assets/images/pic_3.jpg" alt="">

                        </div>
                        <div class="bg-slate-900 w-full rounded-xl sm:rounded-2xl lg:sm:rounded-3xl">
                            <img class="h-full w-full" src="assets/images/pic_4.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="flex mb-2 pr-3 sm:mb-0 flex-col gap-10 dark:text-white lg:w-1/2">
                    <div class="flex flex-col mt-6 font-medium w-full">
                        <div class="flex justify-between text-xl">
                            <span class="uppercase">
                                {{ data.nome }}
                            </span>
                            <span class=" tracking-tight ">
                                {{ data.preco | currency: 'BRL' }}
                            </span>
                        </div>
                        
                        <div class="flex flex-col text-base gap-2 -ml-1 group">
                            <div class="flex gap-2 items-center  hover:bg-blue-200 dark:hover:bg-gray-800 w-fit -ml-2 py-1.5 px-3 rounded-md cursor-pointer transition-all">
                                <span class="font-medium tracking-tight text-center">5.0</span>
                                <div class="flex gap-0.5">
                                    <ng-container *ngFor="let star of [0, 1, 2, 3, 4]">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                            class="w-5 h-5 fill-yellow-500 dark:fill-yellow-400">
                                            <path fill-rule="evenodd"
                                                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </ng-container>
                                </div>
                                <div class="flex gap-2 ml-4 items-center">
                                    <div class=" w-2 h-2 bg-lime-600 dark:bg-lime-400 rounded-full mt-0.5"></div>
                                    <span class="font-semibold text-lime-600 dark:text-lime-400 group-hover:hidden">52 Reviews</span>
                                    <span class="font-semibold text-lime-600 dark:text-lime-400 hidden group-hover:inline">Ver Reviews</span>
                                </div>
                            </div>
                        </div>

                        <span class="text-gray-500 dark:text-gray-300 text-base sm:text-lg font-semibold">
                            <span class="text-gray-500 dark:text-gray-300 text-base sm:text-lg font-semibold mt-9  line-clamp-3  lg:line-clamp-4 overflow-hidden">
                                {{ data.descricao || "Lorem ipsum dolor sit amet  quod, eius possimus officia voluptatum molestias? Aliquid assumendaet  quod, eius possimus officia voluptatum molestias? Aliquid assumendaet  quod, eius possimus officia voluptatum molestias? Aliquid assumendaet  quod, eius possimus officia voluptatum molestias? Aliquid assumendaet  quod, eius possimus officia voluptatum molestias? Aliquid assumendaet  quod, eius possimus officia voluptatum molestias? Aliquid assumenda ipsa possimus commodi." }}
                            </span>
                            <span class="cursor-pointer text-blue-500">Ler mais</span>
                        </span>
                    </div>


                    <div class="flex flex-col gap-2">
                        <span class="font-medium text-lg ">Tamanho</span>
                        <div class="flex flex-wrap gap-3 w-full [&>*]:shadow-md hover:[&>*]:opacity-80 [&>*]:transition-all">
                            <button class="justify-center px-5 py-2 w-full max-w-[4.2rem] text-gray-100 border-gray-200 text-center rounded-md border-[1.2px]">XXS</button>
                            <button class="justify-center px-5 py-2 w-full max-w-[4.2rem] text-gray-100 border-gray-200 text-center rounded-md border-[1.2px]">XS</button>
                            <button class="justify-center px-5 py-2 w-full max-w-[4.2rem] bg-blue-500 text-center rounded-md border-[1.2px] border-blue-500">S</button>
                            <button class="justify-center px-5 py-2 w-full max-w-[4.2rem] text-gray-100 border-gray-200 text-center rounded-md border-[1.2px]">M</button>
                            <button class="justify-center px-5 py-2 w-full max-w-[4.2rem] text-gray-500 border-gray-500 text-center rounded-md border-[1.2px] cursor-not-allowed">L</button>
                            <button class="justify-center px-5 py-2 w-full max-w-[4.2rem] text-gray-500 border-gray-500 text-center rounded-md border-[1.2px] cursor-not-allowed">XL</button>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <span class="font-medium text-lg ">Cor</span>
                        <div class="flex gap-3 w-full [&>*]:shadow-md">
                            <div class="w-9 h-9 bg-blue-600 rounded-full"></div>
                            <div class="w-9 h-9 bg-cyan-600 rounded-full"></div>
                            <div class="flex items-center justify-center relative">
                                <div class="absolute w-12 h-12 bg-blue-50 dark:bg-slate-700 rounded-full border-2 border-pink-600"></div>
                                <div class="relative w-9 h-9 bg-pink-600 rounded-full"></div>
                            </div>
    
                        </div>
                    </div>


                    <div class="flex h-full mt-2 text-sm items-end ">
                        <div class="flex items-center w-full gap-4">
                            <button (click)="pushItemToCart()" class="rounded-lg w-full h-fit transition-opacity shadow-md dark:bg-blue-500 bg-blue-200 dark:text-white py-3 font-semibold text-lg sm:text-xl hover:opacity-80">
                                Adicionar ao carrinho
                            </button>
    
                            <button (click)="''" class="rounded-lg h-fit transition-all hover:shadow-md hover:bg-white bg-blue-50 dark:bg-slate-700 shadow-none dark:border-t-2 border-slate-600 dark:shadow-md dark:hover:bg-gray-800 dark:text-white p-4 font-semibold text-xl hover:bg-opacity-80">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 fill-red-500 text-red-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full pb-36">
                <div class="flex flex-col dark:text-white md:flex-row px-5 py-3 gap-6 align-middle w-full bg-blue-100/50 dark:bg-slate-700 bg-opacity-60 md:max-w-6xl  rounded-3xl ">
                    <span class="text-2xl font-semibold">Comentários</span>
                </div>
            </div>

            <!-- session end -->

            <!-- sessão de produtos em destaque -->
            

            <!-- session end -->
        </div>
    </div>
</div>
